[submodule "backend"]
	path = backend
	url = https://github.com/cheerio-pixel/BackendPractica2JuanRosario
[submodule "frontend"]
	path = frontend
	url = https://github.com/cheerio-pixel/FrontendPractica2JuanRosario
